{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notification Service</title>
    <link
      rel="stylesheet"
      href="{% static 'notif_services/css/styles.css' %}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Notification Service</h1>
      <form
        id="notificationForm"
        method="post"
        action="{% url 'receive_notification' %}"
      >
        {% csrf_token %}
        <div class="form-group">
          <label for="type">Type:</label>
          <select class="form-control" id="type" name="Type" required>
            <option value="Warning">Warning</option>
            <option value="Info">Info</option>
          </select>
        </div>
        <div class="form-group">
          <label for="name">Name:</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="Name"
            required
          />
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea
            class="form-control"
            id="description"
            name="Description"
            required
          ></textarea>
        </div>
        <button type="submit">Send Notification</button>
      </form>
    </div>
  </body>
</html>
